body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #111;
  color: #fff;
  padding-bottom: 200px; /* Espaço para o rodapé */
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #b30000;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.cardapio {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  box-sizing: border-box;
}

h2 { 
  color: #ffcc00; 
  margin-top: 35px; 
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1c1c1c;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 12px;
}

.info { flex: 1; margin-right: 10px; }
.info h3 { margin: 0; font-size: 16px; color: #fff; }
.info p { margin: 5px 0 0; font-size: 11px; color: #aaa; line-height: 1.4; }

.acoes {
  display: flex;
  align-items: center;
  gap: 12px;
}

.acoes button {
  background: #ffcc00;
  color: #000;
  border: none;
  border-radius: 6px;
  width: 35px;
  height: 35px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.quantidade { 
  font-weight: bold; 
  min-width: 20px; 
  text-align: center; 
  font-size: 18px;
}

.preco { font-weight: bold; min-width: 80px; text-align: right; color: #fff; }

.rodape-fixo {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  background: #000;
  padding: 20px;
  border-top: 1px solid #333;
  box-sizing: border-box;
  z-index: 9999;
}

#total { font-size: 22px; font-weight: bold; margin-bottom: 12px; text-align: center; color: #fff; }

#enviar {
  width: 100%;
  background: #00c853;
  color: #000;
  border: none;
  padding: 16px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
