body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  padding-bottom: 130px;
  background-color: #000;
}

/* FUNDO COM IMAGEM */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/cardapio-gar-om/img/fundo.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.15;
  z-index: -2;
}

/* OVERLAY ESCURO */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: -1;
}
